.bg-indigo
{
    background-color: rgb(81, 0, 128) !important;
}

.bg-putih
{
    background-color: #fff !important;
}

.text-indigo
{
    color: rgb(81, 0, 128) !important;
}

.pr-3
{
    padding-right: 3px !important;
}

.footer{
    width: 100%;
    height: 70px;
    background: rgb(81, 0, 128);
    color: #fff;
    bottom: 0px;
    padding-top: 10px;
    
}

.border-R
{
    border-radius: 0px;
}
